<h2>Logga in</h2>

<form action="/login" method="POST">
  <label>Username:
    <input type="text" value="ola" name="username" id="username" required></label>

  <label for="password">Password:
    <input type="password" value="123" name="password" id="password" required></label>

  <button type="submit">Login</button>
</form>