<h2> Create New Result </h2>

<form action="/results" method="post">
    <label> Team 1 
        <input type="number" name="result_id_team1">
    </label>
    <label> Team 2
        <input type="number" name="result_id_team2">
    </label>
    <label> Home team score
        <input type="number" name="result_score_team1">
    </label>
    <label> Away team score
        <input type="number" name="result_score_team2">
    </label>
    <input type="submit" value="Create">
</form>