<h2> Registrera ny användare </h2>

<form action="/register" method="post">
    <label>User <input type="text" name="user_name"></label>
    <label>password <input type="password" name="password"></label>
    
    <input type="submit" value="Registrera">

</form>